header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background: linear-gradient(90deg, hsla(272, 81%, 61%, 1) 0%, hsla(257, 76%, 55%, 1) 100%);
    border-bottom: 1px dashed white;
}

.navigation{
    color: white;
    line-height: 50px;
    width: 100%;
}

.user-photo{
    width: 10%;
    border-radius: 50%;
}

.phone{
    margin: 15px 30px;
    border: 1px solid #fbbe36;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #fbbe36;
    line-height: 18px;
    height: 40px;
}

.phone:hover{
    background-color: transparent;
    color: #fbbe36;
}
