.login-container{
    padding-top: 150px;
    height: 110vh;
    background-image: url('../../media/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.img-container{
    background: linear-gradient(90deg, hsla(272, 81%, 61%, 1) 0%, hsla(257, 76%, 55%, 1) 100%);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 30%;
}

.img-container img{
    width: 80%;
    height: 72vh;
    object-fit: cover;
    
}

.form-container{
    background-color: rgb(255, 255, 255);
    height: 102%;
    width: 25%;
    padding: 10px 0px 10px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.welcome{
    background: linear-gradient(90deg, hsla(272, 81%, 61%, 1) 0%, hsla(257, 76%, 55%, 1) 100%);
    width: fit-content;
    color: white;
    margin-left: 0;
    padding: 5px 25px 10px 15px;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px ;
}

.login{
    color: #6f3dde;
    margin-top: 100px;
}

.login-form input{
    background-color: transparent;
    border-bottom: 2px solid #6f3dde;
    border-top: none;
    border-left: none;
    border-right: none;
    margin:30px 40px ;
    outline: none;
}

.login-form button {
    position: relative;
    left: 36%;
}

.login-btn{
    background-color: #04d2c8;
    border: 1px solid transparent;
    color: white;
}

.login-btn:hover{
    background-color: transparent;
    border: 1px solid #04d2c8;
    color: #04d2c8;
}

.create{
    text-decoration: none;
    color: #6f3dde;
}

.login-logo img{
    width: 15%;
    object-fit: cover;
}
